.collapsible {
    display: flex;
    background-color: var(--heig-red);
    border:2px solid var(--heig-red);
    cursor: pointer;
    padding: 1.5rem 10vw;
    text-align: left;
    outline: none;
    margin: 0.5rem 0;

    .tbdescr {
        p {
            &.tbtitle {
                font-weight: 700;
            }
            color: #fff;
        }
    }

    .iconplus {
    width: 5rem;
    margin-left: 2rem;
    align-self: center;
    &.less {
        stroke: var(--heig-red);
    }
    }
  }

  .collapsible:hover {
    background-color: #fff;
    p {
        color:var(--heig-red);
    }
  }

  .tbcontent {
    padding: 10vw;
    overflow: hidden;
    p {
        color: #000;
    }
    img {
        width: 100%;
    }
  }