.modal {
    position: fixed;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.98);

    .main {
        padding: 0 4vw 0 8vw;
    }

    h3{
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    h2{
        font-size:2.5rem;
        margin-top:0;
        margin-bottom: 3rem;
    }

    ul{
        list-style: none;
    }

    li{
        font-weight: 700;
        font-size: 1.2rem;
    }

    li+li{
        margin-top:0.8rem;
    }

    button {
        margin-top: 2rem;
        margin-left: 1rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--heig-red);

        img {
            margin-right: 10px;
        }
    }
}
