@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

.glide,
.glide__slides,
.glide__bullets {
    margin: 0;
}

.glide__bullets {
    padding-left: $main-padding-left;
}

.glide__bullet {
    background-color: rgba(var(--heig-red-rgb), 0.3);
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    border: 10px solid transparent;
    transition: all .3s ease-in-out;
    cursor: pointer;
    line-height: 0;
    margin: 0;
    box-sizing: content-box;
    background-clip: content-box;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: var(--heig-red);
    }
}

.glide__bullet:first-child {
    margin-left: 0;
}

.glide__bullet+.glide__bullet {
    margin-left: 1rem;
}

.glide__bullet[class*="active"] {
    position: relative;
    background-color: var(--heig-red);
    box-shadow: 0 0 0 0px #fff, 0 0 0 2px var(--heig-red);
}
