.encart {
    background: var(--heig-red);
    margin-bottom: 0;
    padding: 3rem 1rem 3rem ($main-padding-left - 2vw);
    box-sizing: border-box;
    color: #fff !important;

    strong {
        color: #fff !important;
    }
}

p.encart {
    font-size: 1.3rem;
    width: 100vw - $main-padding-left;
}

@media only screen and (min-width: 768px) {
    .encart {
        max-width: 30rem;
    }
}
