.modal.modal_menu(role="dialog" aria-modal="true" x-show="openMenu" :class="{ 'visible': openMenu }")
    button.close(@click="openMenu = false")
        include ../../assets/images/Icon_Close.svg
    .mainWrapper
        nav
            ul
                li
                    a.active(href="#home" @click="openMenu = false") Home
                li
                    a(href="#competences" @click="openMenu = false") Compétences
                li
                    a(href="#formation" @click="openMenu = false") Formation
                li
                    button(@click="openMenu = false, openTBPage = true") Travail de Bachelor
                li
                    a(href="#ecole" @click="openMenu = false") École
                li
                    a(href="#faq" @click="openMenu = false") FaQ
        p
            span Inscris-toi&nbsp;:&nbsp;
                a#inscristoi2(href="https://heig.ch/im") heig.ch/im
            span Tél&nbsp;:&nbsp;
                a(href="tel:+41245577604") 024 557 76 04
