article.futurReady
    .mainWrapper
        h2 Cher futur,
            br
            | I am ready.
        .twoCol
            p Inscris-toi&nbsp;:
                br
                a#inscristoi(href="https://heig.ch/im") heig.ch/im
            p Télécharge
                br
                a#brochuredownload(href="assets/pdf/ingenieriemedias_brochure2020.pdf") la brochure
        ul.reseauxSociaux
            li
                a#facebook(href='https://www.facebook.com/ingenierie.media/' rel='noopener noreferrer' target='_blank')
                    img(alt='Facebook' src="assets/images/Icon_Facebook.svg")
            li
                a#instagram(href='https://www.instagram.com/ingenierie.media/' rel='noopener noreferrer' target='_blank')
                    img(alt='Instagram' src="assets/images/Icon_Instagram.svg" width='25')
            li
                a#youtube(href='https://www.youtube.com/channel/UCqs-odXr4ZkntlXSHJiDfUA/' rel='noopener noreferrer' target='_blank')
                    img(alt='Youtube' src="assets/images/Icon_Youtube.svg")
        p.copyright Copyright © 2020 COMEM+ HEIG-VD.
