article.cover
    img.logoHeigvd(src="assets/images/Logo_HEIG-VD_Etiquette_RVB_Rouge.svg" alt="Logo HEIG-VD: Haute Ecole d'Ingénierie et de Gestion du Canton de Vaud")
    h1 Deviens acteur·trice de la transition numérique
    p La formation HES
        br
        |
        strong  que tu n’es pas prêt·e d’oublier
