
article.cover#home
    .coverBackground(aria-hidden="true")
    img.logoHeigvd(src="assets/images/Logo_HEIG-VD_Etiquette_RVB_Rouge.svg" alt="Logo HEIG-VD: Haute Ecole d'Ingénierie et de Gestion du Canton de Vaud")
    button.menuTrigger(aria-label="Ouvrir le menu rapide" @click="openMenu = true")
        img(src="assets/images/Icon_Menu.svg" alt="" role="presentation")
    .mainWrapper
        h1 Deviens acteur·trice
            br
            |  de la transition numérique
        p La formation HES
            br
            | que tu n’es pas prêt·e d’oublier
    .icon-scroll
