article.coronavirus
    h2 Le coronavirus te force au
        strong  confinement.
    p Du coup, tu es devant
        br
        |  ton écran à te demander
        br
        |  ce que tu vas bien
        br
        |  pouvoir faire…
    h3 A bout d’inspiration&nbsp;?
    p.u-text-center Laisse-nous
        br
        |  te présenter
        br
        |  ce qui pourrait
        br
        strong  changer ta vie…
    a(href="#ultraConnect")
        include ../../assets/images/Icon_Arrow.svg
