article.coronavirus
    .mainWrapper
        h2 Le coronavirus te force au confinement.
        p Du coup tu es devant ton écran à te demander ce que tu vas bien pouvoir faire…
        h3 A bout d’inspiration&nbsp;?
        p Laisse-nous te présenter
            br
            |  ce qui pourrait changer ta vie…
    | <img class="laptopVolant" sizes="(max-width: 768) 80vh, (min-width: 769) 120vh, 100vw"
    |    srcset="
    |    assets/images/Laptop_volant_sgzol9/Laptop_volant_sgzol9_c_scalew_200.jpg 200w,
    |    assets/images/Laptop_volant_sgzol9/Laptop_volant_sgzol9_c_scalew_536.jpg 536w,
    |    assets/images/Laptop_volant_sgzol9/Laptop_volant_sgzol9_c_scalew_765.jpg 765w,
    |    assets/images/Laptop_volant_sgzol9/Laptop_volant_sgzol9_c_scalew_954.jpg 954w,
    |    assets/images/Laptop_volant_sgzol9/Laptop_volant_sgzol9_c_scalew_1139.jpg 1139w,
    |    assets/images/Laptop_volant_sgzol9/Laptop_volant_sgzol9_c_scalew_1298.jpg 1298w,
    |    assets/images/Laptop_volant_sgzol9/Laptop_volant_sgzol9_c_scalew_1400.jpg 1400w"
    |    src="assets/images/Laptop_volant_sgzol9/Laptop_volant_sgzol9_c_scalew_1400.jpg" alt="" role="presentation" />
