article.coronavirus#coronavirus
    .mainWrapper
        h2 Une société qui se numérise.
        p La situation actuelle accélère radicalement la transition numérique de tous les secteurs d’activité.
        h3.later Une opportunité pour votre avenir.
        p.later Aujourd’hui le marché du travail est plus que jamais demandeur de profils polyvalents capables de concevoir, communiquer et gérer des produits et des services numériques.
    | <img class=".backgroundLaptopFlying" sizes="(max-width: 768) 80vh, (min-width: 769) 120vh, 100vw"
    |    srcset="
    |    assets/images/backgrounds/LaptopFlying/Laptop_flying_sgzol9_c_scalew_200.jpg 200w,
    |    assets/images/backgrounds/LaptopFlying/Laptop_flying_sgzol9_c_scalew_536.jpg 536w,
    |    assets/images/backgrounds/LaptopFlying/Laptop_flying_sgzol9_c_scalew_765.jpg 765w,
    |    assets/images/backgrounds/LaptopFlying/Laptop_flying_sgzol9_c_scalew_954.jpg 954w,
    |    assets/images/backgrounds/LaptopFlying/Laptop_flying_sgzol9_c_scalew_1139.jpg 1139w,
    |    assets/images/backgrounds/LaptopFlying/Laptop_flying_sgzol9_c_scalew_1298.jpg 1298w,
    |    assets/images/backgrounds/LaptopFlying/Laptop_flying_sgzol9_c_scalew_1400.jpg 1400w"
    |    src="assets/images/backgrounds/LaptopFlying/Laptop_flying_sgzol9_c_scalew_1400.jpg" alt="" role="presentation" />
