article.ultraConnect#ultraConnect
    .mainWrapper
        h2 Aujourd’hui,
            br
            | on est ultra connecté·e
        p On communique via les réseaux sociaux.
            br
            |  On navigue tous le jours sur internet.
            br
            |  On télécharge et utilise des applications.
            br
            | On planifie notre vie digitale.
    h3.encart Et si être connecté·e devenait un atout professionnel&nbsp;?
