article.ultraConnect#ultraConnect
    .mainWrapper
        h2 Une formation unique au cœur du monde numérique.
        p Apprenez les clés de la communication sur les réseaux sociaux.
            br
            |  Concevez et codez des applications et des sites performants.
            br
            |  Gérez des campagnes marketing en ligne.
    h3.encart Et si vous deveniez un·e professionnel·le du numérique&nbsp;?
