article.ultraConnect
    .mainWrapper
        h2 Aujourd’hui,
            br
            | tu es ultra connecté·e
        p Tu communiques via
            strong  les réseaux sociaux.
            br
            |  Tu navigues sur
            strong  internet.
            br
            |  Tu télécharges et utilises
            strong  des applications.
            br
            | Tu planifies
            strong  des rendez-vous.
    h3.encart Et si être connecté·e devenait un atout professionnel&nbsp;?
