article.ultraConnect#ultraConnect
        h2 Aujourd’hui, tu es
            strong  ultra connecté·e
        p Tu communiques via
            br
            strong  les réseaux sociaux.
        p Tu navigues sur
            br
            strong  internet.
        p Tu télécharges et utilises
            br
            strong  des applications.
        p Tu planifies
            br
            strong  des rendez-vous.
        h3.u-text-center Et si être connecté·e devenait un atout professionnel&nbsp;?
