article.deviensIm#deviensIm
    .mainWrapper.encart
        p En trois ans seulement,
            br
            |  deviens un·e pro du digital.
        h3 Deviens Ingénieur·e des médias
        p  Obtiens ton bachelor HES.

    section.deviensIm_glide
        .mainWrapper
            h3#apprends Apprends
        .glide__track(data-glide-el='track')
            ul.glide__slides
                li.glide__slide
                    article
                        .mainWrapper
                            h3#concevoir_interface(aria-labelledby="apprends concevoir_interface")
                                | à concevoir
                                br
                                | des interfaces
                            p Rien de pire que d’aller sur un site internet et de ne pas trouver directement l’information que tu cherches, de cliquer sur des liens inexistants ou de ne pas réussir à commander un article car le panier est introuvable. Grâce aux cours sur la conception des interfaces ainsi que sur l’ergonomie d’un site internet, tu apprendras à disposer les éléments et à réfléchir à la place de l’utilisateur.

                li.glide__slide
                    article
                        .mainWrapper
                            h3#creer_contenus(aria-labelledby="apprends creer_contenus")
                                | à créer du
                                br
                                | contenu digital
                            p En tant que consommateur·trice, nous amassons une forte quantité de contenus par minute. Que ce soit sur les réseaux sociaux, sur une site internet ou sur une application, les publications varient entre elles. Articles, vidéos, photos, animations, podcasts sont des moyens d’expression que tu pratiqueras pendant ta formation et que tu pourras développer durant des projets concrets auprès de clients.
                li.glide__slide
                    article
                        .mainWrapper
                            h3#gerer_projets(aria-labelledby="apprends gerer_projets")
                                | à gérer des
                                br
                                | projets digitaux
                            p Savoir organiser, planifier et budgétiser un projet numérique sont des compétences essentielles dans le monde digital. Durant la formation, tu seras amené·e à gérer des projets en équipe et ce, pour de vrais clients. Centrée sur des projets pratiques et une approche agile, la formation t’aidera à développer tes capacités opérationnelles et à te confronter au monde professionel.
                li.glide__slide
                    article
                        .mainWrapper
                            h3#coder_decoder(aria-labelledby="apprends coder_decoder")
                                | à programmer
                                br
                                | pour le web
                            p Que tu sois débutant·e ou avéré·e, laisses-toi découvrir le monde de l’informatique. À travers les différents cours, tu auras en main les atouts techniques nécessaires pour développer des solutions digitales. Tu découvriras l’ensemble des étapes, des activités et des outils à utiliser pour développer un site internet, un site e-commerce ou une application mobile.
                li.glide__slide
                    article
                        .mainWrapper
                            h3#marketing_digital(aria-labelledby="apprends marketing_digital")
                                | le marketing
                                br
                                |  digital
                            p Toi qui es si connecté·e avec Instagram, Whatsapp, Facebook, Snapchat,… Ne t’es-tu jamais demandé comment les grandes marques faisaient pour nous attendrir ? Comment font-elles pour que nous soyons autant accros à ces applications ? Tu souhaiterais comprendre les stratégies des marques pour attirer, convertir et fidéliser les clients connectés ?
        .glide__bullets(data-glide-el='controls[nav]')
            button.glide__bullet(data-glide-dir='=0' aria-labelledby="apprends concevoir_interface")
            button.glide__bullet(data-glide-dir='=1' aria-labelledby="apprends creer_contenus")
            button.glide__bullet(data-glide-dir='=2' aria-labelledby="apprends gerer_projets")
            button.glide__bullet(data-glide-dir='=3' aria-labelledby="apprends coder_decoder")
            button.glide__bullet(data-glide-dir='=4' aria-labelledby="apprends marketing_digital")
    .mainWrapper.telechargebrochure
        a#brochuredownload2(href="assets/pdf/ingenieriemedias_brochure2020.pdf") Télécharge&nbsp;
            span la brochure
    |   <img class="objetsBackground" sizes="(max-width: 768) 65vh, (min-width: 769) 120vh, 100vw"
    |    srcset="assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_200.jpg 200w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_469.jpg 469w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_673.jpg 673w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_843.jpg 843w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_993.jpg 993w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1132.jpg 1132w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1269.jpg 1269w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1393.jpg 1393w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1400.jpg 1400w"
    |    src="assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1400.jpg"
    |    alt="" role="presentation">

