article.deviensIm#deviensIm
    .mainWrapper.encart
        h3 Ingénierie des Médias
        p  La formation de niveau Bachelor HES, en trois ans à temps plein, qui fait de vous un·e professionnel·le du numérique.
    section.deviensIm_glide
        .mainWrapper
            h3#apprends Apprendre
        .glide__track(data-glide-el='track')
            ul.glide__slides
                li.glide__slide
                    article
                        .mainWrapper
                            h3#concevoir_interface(aria-labelledby="apprends concevoir_interface")
                                | à concevoir
                                br
                                | une interface
                            p Vos apps favorites, les services en ligne qui vous facilitent la vie et les jeux vidéos qui vous passionnent ont en commun des interfaces simples et efficaces. Apprenez à concevoir et à tester l’ergonomie des interactions entre les utilisateurs et le monde numérique.

                li.glide__slide
                    article
                        .mainWrapper
                            h3#creer_contenus(aria-labelledby="apprends creer_contenus")
                                | à créer des
                                br
                                | contenus
                            p La création et la gestion de contenus médias sont deux compétences très importantes pour la communication des entreprises. Texte, photo, animation, vidéo, podcast sont autant de moyens d’expression que vous pratiquerez pendant ta formation.
                li.glide__slide
                    article
                        .mainWrapper
                            h3#gerer_projets(aria-labelledby="apprends gerer_projets")
                                | à gérer des
                                br
                                | projets
                            p Savoir organiser, planifier et budgéter un projet numérique sont des compétences essentielles dans le monde digital. Centrée sur des projets pratiques et une approche agile, la formation développera vos capacités opérationnelles.
                li.glide__slide
                    article
                        .mainWrapper
                            h3#coder_decoder(aria-labelledby="apprends coder_decoder")
                                | à coder et
                                br
                                | décoder
                            p À travers différents cours d’informatique, vous aurez en main tous les atouts techniques nécessaires pour développer des solutions digitales: HTML/CSS, bases de données, JavaScript, technologies serveur et cloud.
                li.glide__slide
                    article
                        .mainWrapper
                            h3#marketing_digital(aria-labelledby="apprends marketing_digital")
                                | le marketing
                                br
                                |  digital
                            p De la publicité aux réseaux sociaux, des newsletters au marketing automatisé, de la communication classique à l’e-commerce, vous comprendrez les stratégies des marques pour attirer, convertir et fidéliser les clients connectés.
        .glide__bullets(data-glide-el='controls[nav]')
            button.glide__bullet(data-glide-dir='=0' aria-labelledby="apprends concevoir_interface")
            button.glide__bullet(data-glide-dir='=1' aria-labelledby="apprends creer_contenus")
            button.glide__bullet(data-glide-dir='=2' aria-labelledby="apprends gerer_projets")
            button.glide__bullet(data-glide-dir='=3' aria-labelledby="apprends coder_decoder")
            button.glide__bullet(data-glide-dir='=4' aria-labelledby="apprends marketing_digital")
    .mainWrapper.telechargebrochure
        a#brochuredownload2(href="assets/pdf/ingenieriemedias_brochure2020.pdf" target="_blank") Téléchargez&nbsp;
            span la brochure
    |   <img class="backgroundObjects" sizes="(max-width: 768) 65vh, (min-width: 769) 120vh, 100vw"
    |    srcset="assets/images/backgrounds/objects/objects_flying_xc50oc_c_scalew_200.jpg 200w,
    |    assets/images/backgrounds/objects/objects_flying_xc50oc_c_scalew_469.jpg 469w,
    |    assets/images/backgrounds/objects/objects_flying_xc50oc_c_scalew_673.jpg 673w,
    |    assets/images/backgrounds/objects/objects_flying_xc50oc_c_scalew_843.jpg 843w,
    |    assets/images/backgrounds/objects/objects_flying_xc50oc_c_scalew_993.jpg 993w,
    |    assets/images/backgrounds/objects/objects_flying_xc50oc_c_scalew_1132.jpg 1132w,
    |    assets/images/backgrounds/objects/objects_flying_xc50oc_c_scalew_1269.jpg 1269w,
    |    assets/images/backgrounds/objects/objects_flying_xc50oc_c_scalew_1393.jpg 1393w,
    |    assets/images/backgrounds/objects/objects_flying_xc50oc_c_scalew_1400.jpg 1400w"
    |    src="assets/images/backgrounds/objects/objects_flying_xc50oc_c_scalew_1400.jpg"
    |    alt="" role="presentation">

