article.deviensIm#deviensIm
    .mainWrapper.encart
        p En trois ans seulement,
            br
            |  devenez un·e professionnel·le du digital.
        h3 Devenez Ingénieur·e des médias
        p  Obtenez votre bachelor HES.

    section.deviensIm_glide
        .mainWrapper
            h3#apprends Apprendre
        .glide__track(data-glide-el='track')
            ul.glide__slides
                li.glide__slide
                    article
                        .mainWrapper
                            h3#concevoir_interface(aria-labelledby="apprends concevoir_interface")
                                | à concevoir
                                br
                                | des interfaces
                            p Rien de pire que d’aller sur un site internet et de ne pas trouver directement l’information que nous cherchons, de cliquer sur des liens inexistants ou de ne pas réussir à commander un article car le panier est introuvable. Grâce aux cours sur la conception des interfaces ainsi que sur l’ergonomie d’un site internet, vous apprendrez à disposer les éléments et à réfléchir à la place de l’utilisateur.

                li.glide__slide
                    article
                        .mainWrapper
                            h3#creer_contenus(aria-labelledby="apprends creer_contenus")
                                | à créer des
                                br
                                | contenus digitaux
                            p En tant que consommateur·trice, nous amassons une forte quantité de contenus par minute. Que ce soit sur les réseaux sociaux, sur une site internet ou sur une application, les publications varient entre elles. Articles, vidéos, photos, animations, podcasts sont des moyens d’expression que vous pratiquerez pendant la formation et que vous développerez durant des projets concrets auprès de clients.
                li.glide__slide
                    article
                        .mainWrapper
                            h3#gerer_projets(aria-labelledby="apprends gerer_projets")
                                | à gérer des
                                br
                                | projets digitaux
                            p Savoir organiser, planifier et budgétiser un projet numérique sont des compétences essentielles dans le monde digital. La formation amène à gérer des projets en équipe et ce, pour de vrais clients. Centrée sur des projets pratiques et une approche agile, la formation vous aidera à développer vos capacités opérationnelles et à vous confronter au monde professionel.
                li.glide__slide
                    article
                        .mainWrapper
                            h3#coder_decoder(aria-labelledby="apprends coder_decoder")
                                | à programmer
                                br
                                | pour le web
                            p De l’enregistrement du nom de domaine au lancement du site, en passant par le contenu et l’ergonomie, vous découvrirez l’ensemble des étapes, des activités et des outils à utiliser pour développer un site internet, un site e-commerce ou une application mobile.
                li.glide__slide
                    article
                        .mainWrapper
                            h3#marketing_digital(aria-labelledby="apprends marketing_digital")
                                | le marketing
                                br
                                |  digital
                            p De la publicité aux réseaux sociaux, des newsletters au marketing automatisé, de la communication classique à l’e-commerce, vous comprendrez les stratégies des marques pour attirer, convertir et fidéliser les clients connectés.
        .glide__bullets(data-glide-el='controls[nav]')
            button.glide__bullet(data-glide-dir='=0' aria-labelledby="apprends concevoir_interface")
            button.glide__bullet(data-glide-dir='=1' aria-labelledby="apprends creer_contenus")
            button.glide__bullet(data-glide-dir='=2' aria-labelledby="apprends gerer_projets")
            button.glide__bullet(data-glide-dir='=3' aria-labelledby="apprends coder_decoder")
            button.glide__bullet(data-glide-dir='=4' aria-labelledby="apprends marketing_digital")
    .mainWrapper.telechargebrochure
        a#brochuredownload2(href="assets/pdf/ingenieriemedias_brochure2020.pdf") Téléchargez&nbsp;
            span la brochure
    |   <img class="objectsBackground" sizes="(max-width: 768) 65vh, (min-width: 769) 120vh, 100vw"
    |    srcset="assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_200.jpg 200w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_469.jpg 469w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_673.jpg 673w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_843.jpg 843w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_993.jpg 993w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1132.jpg 1132w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1269.jpg 1269w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1393.jpg 1393w,
    |    assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1400.jpg 1400w"
    |    src="assets/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1400.jpg"
    |    alt="" role="presentation">

