article.schemaCompetences
    .twocolumns
        h2 Le Bachelor
            br
            |  en
            strong  Ingénierie des médias
            br
        p  te prépare aux métiers
            br
            |  les plus demandés
            br
            |  dans le monde du digital.
    include ../../assets/images/IngenierieMedias_Schema_Competences.svg
