article.schemaCompetences#competences
    .mainWrapper
        h2 Profil de formation
        p Le bachelor en Ingérierie des Médias se compose de trois axes de formation principaux. Pendant la formation, vos compétences relationnelles et le développement de votre culture numérique sont au cœur de la démarche pédagogique.
        img(src="assets/images/schema_anim.gif" loading="lazy" alt="Spidergraph des compétences médias")
    .mainWrapper.decouvreprofil
        a#decouvreprofil(href="https://novem.heig-vd.ch/") Découvrez&nbsp;
            span votre profil
