article.schemaCompetences#competences
    .mainWrapper
        h2 Profil de formation
        p Le bachelor en ingérierie des médias se compose de 3 axes de formation principaux. Durant tout le cursus, développez des compétences relationnelles et une culture digitale.
        img(src="assets/images/schema_anim.gif" loading="lazy" alt="Spidergraph des compétences médias")
    .mainWrapper.decouvreprofil
        //a#decouvreprofil(href="https://novem.heig-vd.ch/") Découvre ton profil
            img(src="assets/images/Icon_ArrowNext.svg" alt="" role="presentation")
        a#videoalumnis(href="https://youtu.be/OR4wPvxVBcw") Nos étudiant·e·s témoignent dans&nbsp;
            span cette vidéo
