article.schemaCompetences#competences
    .mainWrapper
        h2 Le Bachelor en Ingénierie des médias
        p  Durant toute la formation,
            br
            | développe des compétences relationnelles et une culture digitale.
        include ../../assets/images/IngenierieMedias_Schema_Competences.svg
    //.mainWrapper.decouvreprofil
        a#decouvreprofil(href="https://novem.heig-vd.ch/") Découvre ton profil
            img(src="assets/images/Icon_ArrowNext.svg" alt="" role="presentation")
