article.boussole.boussole_glide(x-data="{ open1Info: false, open1Mark: false, open1Gest: false, open1Cult: false, open2Info: false, open2Mark: false, open2Gest: false, open2Cult: false, open3Info: false, open3Mark: false, open3Gest: false, open3Cult: false }")

    .glide__track(data-glide-el='track')
        ul.glide__slides
            li.glide__slide
                article.premiereannee
                    .mainWrapper
                        h2.boussole_title--desktop-only Une formation en…3 ans &nbsp;!
                        h2#uneformation(aria-labelledby="uneformation en troisans") Une formation…
                        h3 1ère année
                        p Apprends les bases
                            br
                            |  de chaque discipline
                    .axes
                        p Alignement des connaissances
                        .axe
                            button(@click="open1Info = true")
                                p Informatique &amp; Interfaces
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        .axe
                            button(@click="open1Mark = true")
                                p Marketing &amp; Communication
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        .axe
                            button(@click="open1Gest = true")
                                p Gestion de projet &amp; Management
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        .axe
                            button(@click="open1Cult = true")
                                p Culture digitale &amp; Projet Intégration
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
            li.glide__slide
                article.deuxiemeannee
                    .mainWrapper
                        h2#en(aria-labelledby="uneformation en troisans") en…
                        h3 2ème année
                        p Approfondir et mettre
                            br
                            |  en lien les connaissances
                    .axes
                        .axe
                            button(@click="open2Info = true")
                                p Informatique &amp; Interfaces
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open2Mark = true")
                                p Marketing &amp; Communication
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open2Gest = true")
                                p Gestion de projet &amp; Management
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open2Cult = true")
                                p Culture digitale &amp; Projet Intégration
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        span.empty(aria-hidden="true")
                        p Projet pratique d'intégration 1
            li.glide__slide
                article.troisiemeannee
                    .mainWrapper
                        h2#troisans(aria-labelledby="uneformation en troisans") 3 ans&nbsp!
                        h3 3ème année
                        p Mettre en pratique
                            br
                            |  les compétences
                    .axes
                        .axe
                            button(@click="open3Info = true")
                                p Informatique &amp; Interfaces
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open3Mark = true")
                                p Marketing &amp; Communication
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open3Gest = true")
                                p Gestion de projet &amp; Management
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open3Cult = true")
                                p Culture digitale &amp; Projet Intégration
                                img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                        span.empty(aria-hidden="true")
                        p Projet pratique d'intégration 2
                        h4 Travail de Bachelor
    .glide__bullets(data-glide-el='controls[nav]')
        button.glide__bullet(data-glide-dir='=0')
        button.glide__bullet(data-glide-dir='=1')
        button.glide__bullet(data-glide-dir='=2')
    .mainWrapper.telechargeplan
        a#plandownload(href="assets/pdf/ingenieriemedias_apercu_cours2020.pdf") Télécharge&nbsp;
            span le plan de cours
    .modal(role="dialog" aria-modal="true" x-show="open1Info" :class="{ 'visible': open1Info }")
        button.close(@click="open1Info = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 1ère année
            h2 Informatique &amp; interfaces
            ul
                li Mathématiques
                li Médias numériques
                li De la donnée à l’information
                li Bases de la programmation
                li Protocoles et environnement Internet
                li Infrastructure de données
                li Programmation serveur
    .modal(role="dialog" aria-modal="true" x-show="open1Mark" :class="{ 'visible': open1Mark }")
        button.close(@click="open1Mark = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 1ère année
            h2 Marketing &amp; Communication
            ul
                li Bases de la communication
                li Production de contenu média
                li Data visualization
                li Écriture pour le digital
                li Bases du marketing digital
                li Analyse de marché
    .modal(role="dialog" aria-modal="true" x-show="open1Gest" :class="{ 'visible': open1Gest }")
        button.close(@click="open1Gest = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 1ère année
            h2 Gestion de projet
            ul
                li Gestion budgétaire et finance
    .modal(role="dialog" aria-modal="true" x-show="open1Cult" :class="{ 'visible': open1Cult }")
        button.close(@click="open1Cult = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 1ère année
            h2 Culture digitale &amp; Projet Intégration
            ul
                li Media serious game
                li Alignement des connaissances
                li Outils et méthodes de travail
                li Évolution et métiers
                li Anglais
    .modal(role="dialog" aria-modal="true" x-show="open2Info" :class="{ 'visible': open2Info }")
        button.close(@click="open2Info = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 2ème année
            h2 Informatique &amp; interfaces
            ul
                li Architecture et programmation web
                li Développement front-end
                li Visualisation de données
                li Infrastructure de données
                li Web des données
                li Développement de produit média
    .modal(role="dialog" aria-modal="true" x-show="open2Mark" :class="{ 'visible': open2Mark }")
        button.close(@click="open2Mark = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 2ème année
            h2 Marketing &amp; Communication
            ul
                li Techniques audio-visuelles et d’impression
                li Production de contenu média
                li Conception UX - Bases
                li E-commerce
                li Vendre un projet média
    .modal(role="dialog" aria-modal="true" x-show="open2Gest" :class="{ 'visible': open2Gest }")
        button.close(@click="open2Gest = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 2ème année
            h2 Gestion de projet
            ul
                li Gestion de projet
                li Business models
    .modal(role="dialog" aria-modal="true" x-show="open2Cult" :class="{ 'visible': open2Cult }")
        button.close(@click="open2Cult = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 2ème année
            h2 Culture digitale &amp; Projet Intégration
            ul
                li Sociologie
                li Droit et Éthique
                li Méthodologie de recherche
                li Veille sociétale
                li Projet d’intégration
    .modal(role="dialog" aria-modal="true" x-show="open3Info" :class="{ 'visible': open3Info }")
        button.close(@click="open3Info = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 3ème année
            h2 Informatique &amp; interfaces
            ul
                li Architecture orientée web
                li Développement mobile
                li Programmation VR
                li Marketing Tech
    .modal(role="dialog" aria-modal="true" x-show="open3Mark" :class="{ 'visible': open3Mark }")
        button.close(@click="open3Mark = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 3ème année
            h2 Marketing &amp; Communication
            ul
                li Laboratoire tests UX
                li Conception UX - Avancé
                li Evaluation de produits média
    .modal(role="dialog" aria-modal="true" x-show="open3Gest" :class="{ 'visible': open3Gest }")
        button.close(@click="open3Gest = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 3ème année
            h2 Gestion de projet
            ul
                li Business plan &amp; startup
                li Introduction à la systémique
    .modal(role="dialog" aria-modal="true" x-show="open3Cult" :class="{ 'visible': open3Cult }")
        button.close(@click="open3Cult = false")
            img(src="assets/images/Icon_GoBack.svg" loading="lazy" alt="" role="presentation")
        .mainWrapper
            h3 3ème année
            h2 Culture digitale &amp; Projet Intégration
            ul
                li Veille technologique
                li Atelier convergence des médias
                li Projet d’intégration
                li Stage et Travail de Bachelor
