article.boussole#formation.boussole_glide

    svg(style="display:none")
        symbol(id="icon_plus" viewbox='0 0 37 37')
            circle(cx='18.5' cy='18.5' r='17.5' stroke='#fff' stroke-width='2' style="fill: var(--circle-color, transparent)")
            line(x1='18.5' y1='10' x2='18.5' y2='27' stroke='#fff' stroke-width='3' style="stroke: var(--cross-color, #fff)")
            line(x1='27' y1='18.5' x2='10' y2='18.5' stroke='#fff' stroke-width='3' style="stroke: var(--cross-color, #fff)")


    .glide__track(data-glide-el='track')
        ul.glide__slides
            li.glide__slide
                article.premiereannee
                    .mainWrapper
                        h2.boussole_title--desktop-only Découvrez les cours
                        h2#uneformation(aria-labelledby="uneformation en troisans") Découvrez les cours
                        p
                            strong 1ère année
                        p Apprendre les bases
                            br
                            |  de chaque discipline
                    .axes
                        button.projectSuper(@click="openACon = true")
                            span Alignement des connaissances
                            //- Workaround for chrome which doesn't support writing-mode in button
                        .axe
                            button(@click="open1Info = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Informatique &amp; Interfaces
                        .axe
                            button(@click="open1Mark = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Marketing &amp; Communication
                        .axe
                            button(@click="open1Gest = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Gestion de projet &amp; Management
                        .axe
                            button(@click="open1Cult = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Culture digitale &amp; Projet Intégration
            li.glide__slide
                article.deuxiemeannee
                    .mainWrapper
                        h2#en(aria-labelledby="uneformation en troisans") Découvrez les cours
                        p
                            strong 2ème année
                        p Approfondir et mettre
                            br
                            |  en lien les connaissances
                    .axes
                        .axe
                            button(@click="open2Info = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Informatique &amp; Interfaces
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open2Mark = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Marketing &amp; Communication
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open2Gest = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Gestion de projet &amp; Management
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open2Cult = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Culture digitale &amp; Projet Intégration
                        span.empty(aria-hidden="true")
                        button.projectSuper(@click="openInt1 = true")
                            span Projet pratique d'intégration 1
            li.glide__slide
                article.troisiemeannee
                    .mainWrapper
                        h2#troisans(aria-labelledby="uneformation en troisans") Découvrez les cours
                        p
                            strong 3ème année
                        p Mettre en pratique
                            br
                            |  les compétences
                    .axes
                        .axe
                            button(@click="open3Info = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Informatique &amp; Interfaces
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open3Mark = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Marketing &amp; Communication
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open3Gest = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Gestion de projet &amp; Management
                        span.empty(aria-hidden="true")
                        .axe
                            button(@click="open3Cult = true")
                                svg.iconPlus
                                    use(href="#icon_plus")
                                p Culture digitale &amp; Projet Intégration
                        span.empty(aria-hidden="true")
                        button.projectSuper(@click="openInt2 = true")
                            span Projet pratique d'intégration 2
                        button.projectTB(@click="openTB = true")
                            span
                                svg.iconPlus.TBPlus
                                    use(href="#icon_plus")
                                | Travail de Bachelor
    .glide__bullets(data-glide-el='controls[nav]')
        button.glide__bullet(data-glide-dir='=0' aria-label="Première année")
        button.glide__bullet(data-glide-dir='=1' aria-label="Deuxième année")
        button.glide__bullet(data-glide-dir='=2' aria-label="Troisièmre année")
    .mainWrapper.telechargeplan
        a#plandownload(href="assets/pdf/ingenieriemedias_apercu_cours2020.pdf") Téléchargez&nbsp;
            span le plan de cours
    .modal(@click="openACon = false" role="dialog" aria-modal="true" x-show="openACon" :class="{ 'visible': openACon }")
        button.close(@click="openACon = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 1ère année
            h2 Alignement des connaissances
            p Au début de la première année, des cours spécifiques en fonction du profil de chaque étudiant-e permettent de réduire les différences de connaissances techniques ou créatives. Ces cours sont donnés par des professionnel-les de chaque branche.
    .modal(@click="openInt1 = false" role="dialog" aria-modal="true" x-show="openInt1" :class="{ 'visible': openInt1 }")
        button.close(@click="openInt1 = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 2ème année
            h2 Projet d’intégration 1
            p Afin d’acquérir de véritables compétences pratiques, vous serez amener à réaliser un projet de groupe qui met en relation les connaissances acquises dans les différents axes de formation. C’est également l’opportunité de développer des compétences relationnelles et de gestion de projet.
    .modal(@click="openInt2 = false" role="dialog" aria-modal="true" x-show="openInt2" :class="{ 'visible': openInt2 }")
        button.close(@click="openInt2 = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 3ème année
            h2 Projet d’intégration 2
            p Dans le même esprit que le premier projet d’intégration, vous serez amenez à répondre de manière globale à un mandat réel. Pendant plusieurs semaines, vous serez en immersion avec votre groupe pour élaborer, planifier, créer et présenter une solution à la problématique client proposée. En tant que membre d’un groupe de travail, vous serez autonome et responsable de la qualité et de la pertinence de votre projet.
    .modal(@click="open1Info = false" role="dialog" aria-modal="true" x-show="open1Info" :class="{ 'visible': open1Info }")
        button.close(@click="open1Info = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 1ère année
            h2 Informatique &amp; interfaces
            ul
                li Mathématiques
                li Médias numériques
                li De la donnée à l’information
                li Bases de la programmation
                li Protocoles et environnement Internet
                li Infrastructure de données
                li Programmation serveur
    .modal(@click="open1Mark = false" role="dialog" aria-modal="true" x-show="open1Mark" :class="{ 'visible': open1Mark }")
        button.close(@click="open1Mark = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 1ère année
            h2 Marketing &amp; Communication
            ul
                li Bases de la communication
                li Production de contenu média
                li Data visualization
                li Écriture pour le digital
                li Bases du marketing digital
                li Analyse de marché
    .modal(@click="open1Gest = false" role="dialog" aria-modal="true" x-show="open1Gest" :class="{ 'visible': open1Gest }")
        button.close(@click="open1Gest = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 1ère année
            h2 Gestion de projet
            ul
                li Gestion budgétaire et finance
    .modal(@click="open1Cult = false" role="dialog" aria-modal="true" x-show="open1Cult" :class="{ 'visible': open1Cult }")
        button.close(@click="open1Cult = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 1ère année
            h2 Culture digitale &amp; Projet Intégration
            ul
                li Media serious game
                li Alignement des connaissances
                li Outils et méthodes de travail
                li Évolution et métiers
                li Anglais
    .modal(@click="open2Info = false" role="dialog" aria-modal="true" x-show="open2Info" :class="{ 'visible': open2Info }")
        button.close(@click="open2Info = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 2ème année
            h2 Informatique &amp; interfaces
            ul
                li Architecture et programmation web
                li Développement front-end
                li Visualisation de données
                li Infrastructure de données
                li Web des données
                li Développement de produit média
    .modal(@click="open2Mark = false" role="dialog" aria-modal="true" x-show="open2Mark" :class="{ 'visible': open2Mark }")
        button.close(@click="open2Mark = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 2ème année
            h2 Marketing &amp; Communication
            ul
                li Techniques audio-visuelles et d’impression
                li Production de contenu média
                li Conception UX - Bases
                li E-commerce
                li Vendre un projet média
    .modal(@click="open2Gest = false" role="dialog" aria-modal="true" x-show="open2Gest" :class="{ 'visible': open2Gest }")
        button.close(@click="open2Gest = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 2ème année
            h2 Gestion de projet
            ul
                li Gestion de projet
                li Business models
    .modal(@click="open2Cult = false" role="dialog" aria-modal="true" x-show="open2Cult" :class="{ 'visible': open2Cult }")
        button.close(@click="open2Cult = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 2ème année
            h2 Culture digitale &amp; Projet Intégration
            ul
                li Sociologie
                li Droit et Éthique
                li Méthodologie de recherche
                li Veille sociétale
                li Projet d’intégration
    .modal(@click="open3Info = false" role="dialog" aria-modal="true" x-show="open3Info" :class="{ 'visible': open3Info }")
        button.close(@click="open3Info = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 3ème année
            h2 Informatique &amp; interfaces
            ul
                li Architecture orientée web
                li Développement mobile
                li Programmation VR
                li Marketing Tech
    .modal(@click="open3Mark = false" role="dialog" aria-modal="true" x-show="open3Mark" :class="{ 'visible': open3Mark }")
        button.close(@click="open3Mark = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 3ème année
            h2 Marketing &amp; Communication
            ul
                li Laboratoire tests UX
                li Conception UX - Avancé
                li Evaluation de produits média
    .modal(@click="open3Gest = false" role="dialog" aria-modal="true" x-show="open3Gest" :class="{ 'visible': open3Gest }")
        button.close(@click="open3Gest = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 3ème année
            h2 Gestion de projet
            ul
                li Business plan &amp; startup
                li Introduction à la systémique
    .modal(@click="open3Cult = false" role="dialog" aria-modal="true" x-show="open3Cult" :class="{ 'visible': open3Cult }")
        button.close(@click="open3Cult = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 3ème année
            h2 Culture digitale &amp; Projet Intégration
            ul
                li Veille technologique
                li Atelier convergence des médias
                li Projet d’intégration
                li Stage et Travail de Bachelor
    .modal(@click="openTB = false" role="dialog" aria-modal="true" x-show="openTB" :class="{ 'visible': openTB }")
        button.close(@click="openTB = false")
            include ../../assets/images/Icon_Close.svg
        .mainWrapper
            h3 3ème année
            h2 Travail de Bachelor
            p À la fin de la formation, vous réaliserez un travail en collaboration avec une entreprise.
                br
                | Cette étape clé à la formation vous apportera une expérience professionnalisante et un tremplin vers un premier emploi. Vous pourrez également être confronté·e avec les enjeux réels du monde professionnel et enrichir votre CV pour vos postulations futures.
            a.tblink(@click="openTBPage = true, openTB = false") Découvrez quelques travaux de bachelor
    |   <img class="backgroundObjects" sizes="(max-width: 768) 65vh, (min-width: 769) 120vh, 100vw"
    |    srcset="assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_200.png 200w,
    |    assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_436.png 436w,
    |    assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_607.png 607w,
    |    assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_753.png 753w,
    |    assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_878.png 878w,
    |    assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_994.png 994w,
    |    assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_1109.png 1109w,
    |    assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_1211.png 1211w,
    |    assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_1312.png 1312w,
    |    assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_1400.png 1400w"
    |    src="assets/images/backgrounds/Objets3_volant_sxfk1x/IM-objets3-2000px_sxfk1x_c_scalew_1400.png"
    |    alt="" role="presentation">
