article.atoutsFormation#atoutsFormation
    .mainWrapper
        h2 95% des diplômé·e·s
            br
            |  trouvent un emploi...

        .together
            p ... dans les 3 mois qui suivent l'obtention du diplôme.
                |  La formation est unique en Suisse.
                | De type HES, elle te permet d’apprendre en pratiquant de manière professionnelle,
                | et ce durant tout le cursus.
    .encart
        h3 Ah, une chose encore…
        p Peu importe ton parcours, chaque année les étudiants viennent de beaucoup d’horizons&nbsp;:
            |  technique, art, commerce, …
            br
            | et le truc cool aussi, c’est que nous sommes 40% de femmes à faire la formation.
