article.atoutsFormation#atoutsFormation
    .mainWrapper
        h2 95% des diplômé·e·s
            br
            |  trouvent un emploi...

        .together
            p ... dans les 3 mois qui suivent l'obtention du diplôme.
                |  Un diplôme d’ingénierie des médias vous permet d’être immédiatement employable mais également d’avoir accès à des formations de type Master en économie, en marketing ou dans les métiers créatifs.
            a#videoalumnis(href="https://youtu.be/OR4wPvxVBcw" target="_blank") Nos étudiant·e·s témoignent dans&nbsp;
                span cette vidéo
    .encart
        p Chaque année, des étudiant·e·s d’horizons et de formations très différents rejoignent la filière ingénierie des médias, dont plus de 40% de femmes. Que vous ayez un CFC ou un baccalauréat en poche, que vous soyez plutôt technique ou créatif, notre cursus permet de compléter et de développer votre profil.
