article.atouts_formation
    .mainWrapper
        h2 Une formation
            br
            |  unique en Suisse

        .together
            p
                strong 95% des diplômé·e·s
                |  trouvent un emploi dans les trois mois après la formation.
            p La formation de type HES te permet d’apprendre en
                strong  pratiquant
                |  de manière
                strong  professionnelle
                | , et ce durant toute la formation.
    .encart
        h3 Ah, une chose encore…
        p Peu importe ton parcours, chaque année les étudiants viennent de
            strong  beaucoup d’horizons&nbsp;:
            | technique, art, commerce, … et le truc cool aussi, c’est que nous sommes
            strong  40% de femmes
            | à faire la formation.
