article.atouts_formation
    h2 Une formation
        strong  unique en Suisse
    .together
        p
            strong 95% des diplômé·e·s
            |  trouvent un emploi dans les trois mois après la formation.
        p La formation de type HES te permet d’apprendre en
            strong  pratiquant
            |  de manière
            strong  professionnelle
            | , et ce durant toute la formation.
    h2 Ah, une
        strong  chose
            br
            |  encore…
    p.u-text-center Peu importe ton parcours,
        br
        |  chaque année les étudiant·e·s
        br
        |  viennent de
        strong  beaucoup d’horizons:
        br
        |  technique, commerce, art, … et le truc cool aussi, c'est que nous sommes
        strong  40% de femmes à suivre la formation.
