article.ecole#ecole
    div.map
    .mainWrapper
        h2 Haute École
            br
            | d’Ingénierie
            br
            |  et de Gestion
        p.yverdon
            |  Yverdon-les-Bains
        p Proche du lac de Neuchâtel ainsi que du centre-ville,
            | Yverdon nous offre de nombreuses possibilités afin de se retrouver avec nos amis en fin de journée.
            br
            br
            | Toute l’année, on peut profiter des bars, des salles de sport, de la plage et des diverses associations.
