article.ecole
    h2 Haute École d’
        strong Ingénierie
        |  et
        br
        |  de
        strong  Gestion
    p Proche du
        strong  lac de Neuchâtel
        |  ainsi que du
        strong  centre-ville
        | , Yverdon t’offre de nombreuses possibilités afin de te retrouver avec tes amis en fin de journée.
        br
        br
        | Toute l’année, profite des
        strong  bars
        | , des
        strong  salles de sport
        | , de la
        strong  plage
        |  et surtout des diverses
        strong  associations.
    p.yverdon
        img(src="assets/images/Icon_MapPin.svg" alt="" role="presentation")
        |  Yverdon-les-Bains
    include ../../assets/images/Carte_Suisse_Yverdon.svg
