article.ecole#ecole
    div.map
    .mainWrapper
        h2 Haute École
            br
            | d’Ingénierie
            br
            |  et de Gestion
        p.yverdon
            |  Yverdon-les-Bains
        p Proche du lac de Neuchâtel ainsi que du centre-ville,
            | Yverdon t’offre de nombreuses possibilités afin de te retrouver avec tes amis en fin de journée.
            br
            br
            | Toute l’année, profite des bars, des salles de sport, de la plage et des diverses associations.
