article.ecole#ecole
    div.map
    .mainWrapper
        h2 Une école au cœur de la Suisse romande.
        p.yverdon
            |  Yverdon-les-Bains
        p Proche des principales grandes villes romandes, le site de Saint-Roch de la Haute École d’Ingénierie et de Gestion (HEIG-VD) est à la fois proche du lac et du centre-ville d’Yverdon-les-Bains. Plus grande école de la HES-SO, la HEIG-VD propose de nombreuses activités et vous donne accès, à travers son réseau, à une multitude d’associations sportives, de loisir et culturelles. Vous pourrez également profiter des infrastructures techniques - studio son, photo, VR - et participer aux événements auxquels l’école prend part comme Numerilk Games, Baleinev ou Hydro contest.
