article.ecole
    .mainWrapper
        h2 Haute École
            br
            | d’Ingénierie
            br
            |  et de Gestion
        p.yverdon
            img(src="assets/images/Icon_MapPin.svg" alt="" role="presentation")
            |  Yverdon-les-Bains
        p Proche du lac de Neuchâtel ainsi que du centre-ville,
            | Yverdon t’offre de nombreuses possibilités afin de te retrouver avec tes amis en fin de journée.
            br
            br
            | Toute l’année, profite des bars, des salles de sport, de la plage et des diverses associations.

    include ../../assets/images/Carte_Suisse_Yverdon.svg
