/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

:root {
   --heig-red: #E2051C;
   --heig-red-rgb: 226, 5, 28;
   --main-burgundy: #630b00;
   --main-burgundy-rgb: 99, 11, 0;
}
