article.ecole {
    .videoWrapper {
        position: absolute;
        height: 33vh;
        overflow: hidden;
    }
    video#map {
        margin-top: -5vh;
        width: 140vw;
    }

    .mainWrapper {
        position: absolute;
        top: 40vh;
        z-index: 1;
    }

    h2 {
        font-size: 2.7rem;
    }

    p.yverdon {
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        color: var(--heig-red);
    }

    @media only screen and (min-width: 768px) {
        h2 {
            margin-top: 0;
        }
        .videoWrapper {
            position: absolute;
            left:50%;
            height: 100%;
        }
        video#map {
            margin-top: 0;
            height: 100vh;
            width: auto;
        }

        .mainWrapper {
            position:relative;
            top:initial;
            margin: auto 0;
            max-width:20rem; // Necessary to let place for the map interactivity
        }
    }
}
