article.atoutsFormation {
    .mainWrapper {
        padding: 1rem 12vw;
        h2 {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }
        a#videoalumnis {
            font-weight: 700;
            font-size: 1.05rem;
            color: #000;
            text-decoration: none;
            width: 100%;
            span {
                font-weight: 700;
                color: var(--heig-red);
                text-decoration: underline;
            }
        }
    }
    .encart {
        margin-top: auto;
    }

    @media only screen and (min-width: 768px) {
        .encart
        {
            position: absolute;
            right:0;
            top:0;
            width: 50%;
            height: 100%;
            padding: 3rem 5rem;
            display: flex;
            align-items: flex-end;
        }
        .mainWrapper {
            width: 35%;
            .together {
                a#videoalumnis {
                    font-size: 0.8rem;
                }
            }
        }
        .together p {
            max-width: 30rem;
        }
    }
}
