article.ecole {
    .map {
        width: 100%;
        height: 30vh;
        background-image: url("/assets/images/map_yvedon_anim_1.gif");
        background-position-x: left;
        background-position-y: -7vh;
        background-size: 75vh;
        background-repeat: no-repeat;
    }

    .mainWrapper {
        position: absolute;
        top: 40vh;
        z-index: 1;
    }

    h2 {
        font-size: 2.7rem;
    }

    p.yverdon {
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        color: var(--heig-red);
    }

    .carte {
        position: absolute;
        top: -40vh;
        transform: translateY(50%);
        left: 35vw;
        width: 80vh;
    }

    @media only screen and (min-width: 768px) {
        h2 {
            margin-top: 0;
        }
        .map {
            position: absolute;
            right: 0;
            width: 50%;
            height: 100vh;
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .mainWrapper {
            position:relative;
            top:initial;
            margin: auto 0;
            max-width:20rem; // Necessary to let place for the map interactivity
        }

        .carte {
            top: -75vh;
            width:150vh;
            left:50vw;
        }
    }
}
