article.futurReady {
    text-align: center;
    h2 {
        margin-top: 7rem;
    }

    p {
        margin: 1rem 0;
        font-weight: 700;
    }

    p a {
        display: inline-block;
        margin: 0;
    }

    p a#inscristoi {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .reseauxsociaux {
        list-style: none;
        padding: 0.5rem;
        margin: 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        li:not(:last-child) {
            margin-right: 4rem;
        }
    }

    .logoHeigvd {
        width: 180px;
        margin: 2rem 0;
    }

    .footer {
        background-color: #2e2e2e;
        padding: 1rem 0;
        color: #555;
        margin-top: auto;
        .mainWrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
        ul {
            list-style-type: none;
            padding: 0;
            text-align: left;
            margin: 0.5rem 0;
        }
        li {
            font-size: 0.8rem;
            a {
                color: #fff;
                text-decoration: none;
                line-height: 1rem;
                &:hover {
                    color: var(--heig-red);
                }
            }
        }
        h3 {
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: 400;
            margin:0 0 0.5rem 0;
            color: #fff;
        }
        .social li, .hes li{
            display: inline-block;
            margin: 0 15px 0 0;
        }
        .hes {
            display: none;
        }
        .social li img {
            height: 15px;
            max-width: 15px;
        }
        .hes img {
            height: 80px;
        }
        .copyright p {
            font-weight: 400;
            font-size: 0.7rem;
            margin: 0;
        }
    }

    @media only screen and (min-width: 768px) {
        .reseauxSociaux img{
            width:30px;
            max-height: 25px;
        }
        .mainWrapper{
            margin-bottom:auto;
            padding: 0 12vw;
        }
        .mainWrapper h2{
            margin-top:4rem;
        }

        .main {
            margin-top: 0;
            margin-bottom: 0;
        }

        .reseauxsociaux {
            margin: auto;
        }

        .logoHeigvd {
            margin: 0.5rem 0;
        }
        .footer {
            .hes {
                display: block;
            }
            li {
                font-size: 0.6rem;
            }
            h3 {
                font-size: 0.7rem;
            }
            .copyright p {
                font-size: 0.5rem;
            }
        }
    }
}
