article.futurReady {
    text-align: center;
    h2 {
        margin-top: 7rem;
    }

    p {
        margin: 2rem 0;
        font-weight: 700;
    }

    p a {
        display: inline-block;
        margin: 0.5rem 0;
    }

    p a#inscristoi {
        margin-top: 0;
    }

    .reseauxSociaux {
        list-style: none;
        padding: 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        li:not(:last-child) {
            margin-right: 4rem;
        }
    }

    .copyright {
        font-weight: 400;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }

    .logoHeigvd {
        width: 200px;
    }

    @media only screen and (min-width: 768px) {
        .reseauxSociaux img{
            width:30px;
            max-height: 25px;
        }
        .mainWrapper{
            margin-bottom:auto;
            padding: 0 12vw;
        }
        .mainWrapper h2{
            margin-top:4rem;
        }
        .copyright{
            font-size:0.7rem;
            margin-top:2rem;
        }

        .main {
            margin-top: 0;
            margin-bottom: 0;
        }

        .reseauxsociaux {
            max-width: 20%;
            margin: auto;
        }
    }
}
