article.boussole {

    .glide__track,
    .glide__slides,
    .glide__slide,
    article {
        height: 100% !important;
        margin: 0;
    }

    h2,
    p {
        padding: 0 12vw 0 8vw;
    }

    h3 {
        padding: 0 1vw 0 8vw;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    h3 {
        text-align: left;
        position: relative;
    }

    p {
        font-weight: 700;
    }

    .annee {
        display: flex;
        justify-content: space-between;
    }

    .next_slide {
        align-self: end;
        margin-bottom: -8px;
    }

    .axes {
        display: grid;
        grid-template-rows: repeat(4, minmax(50px, 90px));
        grid-template-columns: 30px auto;
        grid-gap: 10px;
        margin-top: 0.5rem;
        height: calc(100% - 18rem);
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }

    .axe,
    .empty {
        background: var(--heig-red);
    }

    .axe button {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0 15px;
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        text-align: left;

        img {
            padding-right: 15px;
        }
    }

    .axes p,
    .axes h4 {
        grid-row: 1/-1;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        /* Ssideways-rl is not supported everywhere */
        text-orientation: initial;
        text-align: center;
        justify-self: center;
        color: var(--main-burgundy);
        font-weight: 700;
        font-size: 1.4rem;
        margin: 0;
        padding: 5px;
    }

    .axes button:focus {
        outline: 5px solid rgba(var(--heig-red-rgb), 0.2);
    }

    .axes h4 {
        color: #fff;
        font-size: 2rem;
        background: var(--main-burgundy);
    }

    /* Première année */

    .premiereannee .axes {
        padding-left: 8vw;
    }

    .premiereannee .axe {
        grid-column-start: 2;
    }

    .premiereannee .axes>p {
        border-right: 2px solid var(--heig-red);
    }

    /* Deuxième année */

    .deuxiemeannee .axes {
        grid-template-columns: auto 15px auto;
    }

    .deuxiemeannee .axes>p {
        grid-column: 2/3;
    }

    /* Troisième année */

    .troisiemeannee .axes {
        grid-template-columns: auto 15px 30px 50px;
    }

    .troisiemeannee .axes>p {
        grid-column: 2/3;
    }

    .troisiemeannee .axes>h4 {
        grid-column: 4/5;
    }

    .troisiemeannee .arrow {
        height: 100%;
    }

    .boussole_title--desktop-only {
        display: none;

    }

    @media only screen and (min-width: 768px) {
        .glide__slides {
            display: flex;
            justify-content: center;
        }

        .glide__slide {
            max-width: 350px;
            margin-top: 10rem;
        }

        .next_slide {
            display: none;
        }

        h2,
        h3,
        article p,
        .premiereannee .axes,
        .deuxiemeannee .axe button,
        .troisiemeannee .axe button {
            padding: 0;
        }

        article>h2 {
            display: none;
        }

        .boussole_title--desktop-only {
            display: block;
            top: 3rem;
            position: absolute;
        }

        h3 {
            font-size: 1.4rem;
        }

        .axe {
            font-size: .9rem;
        }

        .axes p {
            font-size: 1rem;
        }

        .axes h4 {
            font-size: 1.2rem;
        }
    }

    @media only screen and (min-width: 1400px) {
        .glide__slide {
            max-width: 450px;
        }

        .axe {
            font-size: 1.1rem;
        }
    }

}
