article.cover {
    background-image: linear-gradient(to right, rgba(237, 29, 42, .95), rgba(237, 29, 42, .95)), url("../assets/images/IM_Banner.jpg");
    background-size: cover, cover;
    background-position: 100% 100%, 50% 50%;
    background-blend-mode: multiply;

    color: #FFF;

    .logoHeigvd {
        margin-left: -8vw;
        align-self: flex-start;
        padding-top: 3rem;
    }

    h1 {
        font-size: 2.5rem;
        margin: 3rem 0 0 0;
    }

    p {
        font-size: 1.2rem;
        margin: auto 0;
        font-weight: 400;
    }
    @media only screen and (min-width: 768px) {
        h1 {
            max-width: 60%;
            font-size: 3rem;
            line-height: 2.7rem;
        }
    }
}

article.coronavirus {

    h2 {
        margin-top:1rem;
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    img {
        margin: auto 0;
        align-self: center;
    }
    @media only screen and (min-width: 768px) {
        h2 {
            max-width: 45%;
            line-height: 2.7rem;
            margin-top: 3rem;
            font-size: 2.5rem;
        }
        br {
            display: none;
        }
        p {
            font-size: 1rem;
            &:not(.u-text-center) {
                max-width: 40%;
            }
            strong {
                display: block;
            }
        }
        h3 {
            font-size: 1.8rem;
            margin-top: 6rem;
        }
    }
}

article.ultraconnect {
    h2 {
        margin-top: 6rem;
        font-size: 2.5rem;
    }

    h3 {
        margin: auto 0;
    }
    @media only screen and (min-width: 768px) {
        h2 {
            max-width:45%;
        }
        br {
            display:none;
        }
        div.twocolumns {
            display: flex;
            flex-direction: row;
        }
        div.actions {
            max-width: 45%;
            margin-top: 6rem;
            margin-left: 3rem;
        }
        p {
            font-size: 1rem;
            line-height: 0.6rem;
        }
        h3 {
            max-width: 60%;
            margin: auto;
        }
    }
}

article.slider {
    >*:not(.glide) {
        padding: 0 8vw;
    }

    >p:nth-of-type(1) {
        margin-top: 3rem;
    }

    >p strong {
        color: var(--heig-red);
        font-weight: 600;
    }


    .glide__slide article {
        h2{
            margin-top:0;
        }
        h2,
        p {
            text-align: center;
        }

        p {
            margin-top:2rem;
            font-size: 1rem;
        }
    }
    @media only screen and (min-width: 768px) {
        h2 {
            margin-top: 0;
        }
        .glide__slide article {
            max-width: 60%;
            margin: auto;
            p {
                margin-top: 1rem;
            }
        }
    }
}

article.schemaCompetences {
    h2 {
        margin-top:auto;
        font-size: 2.5rem;
        span{
            font-size:1.2rem;
            color:#000;
            margin-top:1rem;
            line-height:1.4rem;
            display:inline-block;
        }
    }
    img{
        margin: 3rem -2vw auto -2vw;
    }
    @media only screen and (min-width: 768px) {
        div.twocolumns {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100vh;
        }
        h2 {
            max-width: 30%;
            padding: 0 10%;
            margin-top: 0;
        }
        img {
            max-width:65vh;
            margin: 0;
        }
    }
}

article.atoutsFormation {
    h2 {
        margin-top:2rem;
        font-size: 2.5rem;
    }
    h3{
        color:var(--main-burgundy);
        span{
            color:var(--heig-red);
        }
    }

    h3.statsfemmes{
        font-size:1.6rem;
    }

    p strong{
        color:var(--heig-red);
        font-weight:600;
    }

    ul {
        padding-left: 1.2rem;
    }

    li {
        font-size: 0.8rem;
    }

    li:nth-child(3n) {
        margin-top: 1rem;
    }
}

/** Call-to-action **/

article.futurReady {
    display: flex;
    flex-direction: column;

    h2 {
        margin: auto;
    }
}
