article.deviensIm{

    >.mainWrapper {
        &.encart {
            margin-bottom: 1rem;
        }
      h3 {
          color: #fff;
      }
    }

    .telechargebrochure {
        margin-top: 2rem;
        margin-bottom: 2rem;
        align-self: flex-end;

        a {
            font-weight: 700;
            font-size: 1.05rem;
            color: #000;
            text-decoration: none;

            span {
                color: var(--heig-red);
                text-decoration: underline;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .mainWrapper{
            &.encart {
                text-align: center;
            }
        }

        >.mainWrapper{
            p:nth-of-type(1) br{
                display:none;
            }
        }
        .telechargebrochure {
            padding: 0 5rem;

            a {
                font-size: 0.8rem;
            }
        }
    }

    .deviensIm_glide {
        margin-top:1vh;
        #apprends {
            color: var(--main-burgundy);;
            margin-top: 1rem;
            margin-bottom: 0.4rem;
        }
    }
}
