article.cover {
    color: #FFF;

    .logoHeigvd {
        margin-left: -8vw;
        align-self: flex-start;
        padding-top: 3rem;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    p {
        margin-top: auto;
        margin-bottom: 4rem;
        font-weight: 400;
    }

    @media only screen and (min-width: 768px) {
        h1 {
            max-width: 60%;
        }
    }
}

@media screen and (orientation: landscape) {
    article.cover {
        p {
            margin-top: 2rem;
            margin-bottom: auto;
        }
    }
}

article.coronavirus {

    h2 {
        margin-top: 3rem;
    }
    h3 {
        margin-top: auto;
    }

    img {
        margin: auto 0;
        align-self: center;
    }

    a {
        margin-top: 2rem;
        align-self: center;
        -webkit-tap-highlight-color: transparent;

        svg,
        path {
            transition: all .3s ease-in-out;
        }

        svg:active,
        svg:focus,
        svg:hover {
            transform: scale(1.1);

            path {
                stroke: #FB1F36;
            }
        }
    }

    *:last-child {
        margin-bottom: auto;
    }

    @media only screen and (min-width: 768px) {
        h2 {
            max-width: 45%;
            margin-top: auto;
        }

        br {
            display: none;
        }

        p {
            &:not(.u-text-center) {
                max-width: 40%;
            }

            strong {
                display: block;
            }
        }

        h3 {
            margin-top: 6rem;
        }
    }
}

article.ultraconnect {
    justify-content: space-around;
    h2 {
      margin-top: 3rem;  
    }
    h3 {
        margin: auto 0;
    }

    @media only screen and (min-width: 768px) {
        p {
            margin: .3rem 0;
        }

        h2 {
            margin-top: auto;
            margin-bottom: 1rem;
            max-width: 40%;
        }

        br {
            display: none;
        }

        h3 {
            max-width: 60%;
            margin: auto;
        }
    }
}

article.slider {
    >*:not(.glide) {
        padding: 0 8vw;
    }

    >p:nth-of-type(1) {
        margin-top: 3rem;
    }

    >p strong {
        font-weight: 700;
    }

    #apprends {
        margin-top: 2rem;
    }


    .glide__slide article {
        h2 {
            margin-top: 0;
        }

        h2,
        p {
            text-align: center;
        }

        p {
            margin-top: 2rem;
        }
    }

    @media only screen and (min-width: 768px) {
        h2 {
            margin-top: 0;
        }

        .glide__slide article {
            max-width: 80%;
            margin: auto;

            p {
                margin-top: 1rem;
            }
        }
    }
}

article.schemaCompetences {
    .twocolumns {
        margin-top: 3rem;
    }
    h2 {
        margin-top: 0;
    }

    p {
        margin-top: 1rem;
    }

    svg {
        width: 100%;
        /* Fix for Apple */
        margin: 3rem -2vw auto -2vw;
    }

    @media only screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
        height: 100vh;

        br {
            display: none;
        }

        .twocolumns {
            margin-top: 0;
            margin-right: 3rem;
            max-width: 50%;
        }

        h2, p {
            text-align: left !important;
        }

        svg {
            max-width: 65vh;
            margin: 0;
        }
    }
}

article.atoutsFormation {
    h2 {
        margin-top: 3rem;
    }

    h3 {
        color: var(--main-burgundy);
        margin-top: auto;

        span {
            color: var(--heig-red);
        }
    }

    p strong {
        font-weight: 700;
    }

    ul {
        padding-left: 1.2rem;
    }

    li:nth-child(3n) {
        margin-top: 1rem;
    }

    @media only screen and (min-width: 768px) {
        div.twocolumns {
            display: flex;
            flex-direction: row;
            padding: 5% 10% 0 0;

            h2 {
                max-width: 45%;
                padding-right: 1rem;
            }

            div.together {
                max-width: 50%;
            }
        }

        br {
            display: none;
        }

        h3 {
            margin-top: 8rem;
        }

        p.u-text-center {
            max-width: 70%;
            margin: 1rem auto;
        }
    }
}

article.ecole {
    position: relative;
    overflow: hidden;

    *:not(.carte) {
        z-index: 1;
    }

    h2 {
        color: var(--main-burgundy);
        margin-top: 3rem;

        a {
            text-decoration: none;
        }
    }

    p.yverdon {
        margin-top: 2rem;
        display: flex;
        color: var(--heig-red);

        img {
            margin-right: 0.5rem;
        }
    }
    p:not(.yverdon) {
        margin-top: auto;
    }

    .carte {
        display: inline-block;
        position: absolute;
        top: 9rem;
        left: 35vw;
        height: 90vw;
        max-height: 100vh;
    }

    @media only screen and (min-width: 768px) {
        h2 {
            margin-top: 3rem;
            max-width: 40%;
        }

        p {
            max-width: 30%;
            &:not(.yverdon) {
                margin-top: auto;
            }
        }
        .carte {
            top: 0;
        }
    }
}

@media screen and (orientation: landscape) {
    article.ecole {
        .carte {
            left: 60vw;
        }
    }
}

/** Call-to-action **/

article.futurReady {

    align-content: space-around;

    .main {
        margin-bottom: auto;
    }

    p {
        margin: 3rem 0;
        font-weight: 700;
    }

    p a {
        display: inline-block;
        margin: 0.5rem 0;
    }

    .icondownload {
        width: 24px;
    }

    .reseauxsociaux {
        list-style: none;
        margin-top: auto;
        padding: 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    @media only screen and (min-width: 768px) {
        .main {
            margin-top: 0;
            margin-bottom: 0;
        }

        .icondownload {
            width: 40px;
        }

        .reseauxsociaux {
            max-width: 20%;
            margin: auto;
            margin-bottom: 3rem;
        }
    }
}
