*,
*:before,
*:after {
  box-sizing: inherit;
}

[x-cloak] { display: none; }

body>article {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100%;
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  body>article {
    scroll-snap-align: initial;
    scroll-snap-stop: initial;
    height: initial;
  }

  body>article.cover {
    padding-top: 0 !important;
  }

  .glide__slide article {
    padding: 0 8vw !important;
  }

  h2 {
    margin-top: 0 !important;
  }

  * {
    text-align: left !important;
  }
}

article {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainWrapper {
  padding: 0 $main-padding-right 0 $main-padding-left;
}

h2,
h3,
p {
  margin-top: 0;
  line-height: 94.3%;
  letter-spacing: -0.03em;
}

p {
  line-height: 140%;
}

h2 {
  color: var(--main-burgundy);
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 1rem;

  >strong {
    color: var(--heig-red);
    font-weight: 700;
  }
}

h3 {
  color: var(--heig-red);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

p {
  font-weight: 500;
  font-size: 1.05rem;
}

p+p {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {

  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.8rem;
  }
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}
