@import 'normalize.css';

:root {
    --heig-red: #E2051C;
    --main-brown: #630b00;
}

/* (Fluid) Typography */

:root {
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    :root {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    :root {
        font-size: 22px;
    }
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../assets/fonts/Inter-Bold.woff2?v=3.12") format("woff2"),
        url("../assets/fonts/Inter-Bold.woff?v=3.12") format("woff");
}

* {
    box-sizing: border-box;
}

/** Scroll snap **/

html {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

body>article {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0 10%;
}

/** Base **/

body {
    font-family: "Inter";
    font-weight: 700;
}

article>img {
    max-width: 100%;
    max-height: 100vh;
}

h2 {
    color: var(--main-brown);
    font-size: 3rem;
}

h2>strong {
    color: var(--heig-red);
}

/** Cover **/

article:first-child {
    background-color: var(--heig-red);

    h1 {
        font-size: 2rem;
        color: #FFF;
        margin: auto;
    }
}

article.schemaCompetences {
    h2 {
        font-size: 1rem;
    }
}

article.atoutsFormation {
    text-align: left;

    h2 {
        font-size: 1.5rem;
        color: var(--heig-red);
    }

    h3 {
        font-size: 1rem;
        color: var(--main-brown);
    }

    ul {
        padding-left: 1.2rem;
    }

    li {
        font-size: 0.8rem;
    }

    li:nth-child(3n) {
        margin-top: 1rem;
    }
}

article:last-child {
    h2 {
        color: #000;
    }
}
