doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Deviens acteur-trice de la transition numérique
    link(rel="stylesheet", href="style/index.scss")
  body
    article
        h1 Deviens acteur-trice de la transition numérique
    article
        h2 Maîtrise les
            strong  technologies de demain
        p Le numérique évolue très rapidement. La proximité avec notre institut de recherche te fera découvrir les dernières technologies et les approches émergentes pour anticiper l’évolution des métiers du digital.
    article
        h2 Apprends à
            strong  coder
            |  et à
            strong  décoder
        p À travers différents cours d’informatique, tu auras en main tous les atouts techniques nécessaires pour développer des solutions digitales: HTML/CSS, bases de données, JavaScript, technologies serveur et cloud.
    article(class="schemaCompetences")
        h2 Le Bachelor en
            strong  ingénierie des médias
            |  te prépare aux métiers les plus demandés dans
            strong  le monde du digital
        img(src="assets/images/IngenierieMedias_Schema_Competences.svg")
    article(class="atoutsFormation")
        h2 Les atouts d'une formation unique en Suisse romande
        h3 95% des diplômé•e•s trouvent un emploi dans les trois mois après la formation.
        ul
            li une formation ouverte à plusieurs profils
            li une proportion de 40% d’étudiantes
            li une polyvalence professionnelle très demandée
            li des connaissances informatiques solides
            li un enseignement basé sur la pratique
            li des liens forts avec l’économie
            li un budget de formation raisonnable
    article
        h2
            strong Cher futur,
            br
            | I am ready.
        a(href="https://heig.ch/im") heig.ch/im
    script(src="js/main.js")
