doctype html
html(lang="fr")
  head
    include includes/GTManager_Head.html

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Deviens acteur-trice de la transition numérique
    meta(name="description" content="Ingénierie des médias, la formation HES que tu n’es pas prêt·e d’oublier")
    meta(name="theme-color" content="#E2051C")
    link(rel="manifest" href="manifest.webmanifest")
    link(rel="stylesheet" href="style/critical.scss" class="body-style")
    link(rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png")
    link(rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#e72128")
    link(rel="shortcut icon" href="assets/images/favicon/favicon.ico")
    link(rel="preconnect" href="https://www.google-analytics.com")
  body(x-data="{ openMenu: false }")
    include includes/GTManager_NoScript.html
    include includes/screens/1_cover
    include includes/screens/2_coronavirus
    include includes/screens/3_ultra_connect
    include includes/screens/4_deviens_im
    include includes/screens/5_schema_competences
    include includes/screens/6_boussole
    include includes/screens/7_atouts_formation
    include includes/screens/8_ecole
    include includes/screens/9_faq
    include includes/screens/10_futur_ready

    include includes/screens/0_menu.pug

    link(rel="stylesheet" href="style/index.scss")
    script(src="js/main.js")
    include includes/GA.html
