doctype html
html(lang="fr")
  head
    include includes/GTManager_Head.html

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Deviens acteur-trice de la transition numérique
    link(rel="manifest" href="manifest.webmanifest")
    link(rel="stylesheet" href="style/index.scss")
    link(rel="icon" href="assets/images/favicon.svg")
  body
    include includes/GTManager_NoScript.html
    article.cover
        img.logoHeigvd(src="assets/images/Logo_HEIG-VD_Etiquette_RVB_Rouge.svg" alt="Logo HEIG-VD: Haute Ecole d'Ingénierie et de Gestion du Canton de Vaud")
        h1 Deviens acteur·trice de la transition numérique
        p La formation HES
            br
            |
            strong  que tu n’es pas prêt·e d’oublier
    article.coronavirus
        h2 Le coronavirus te force au
            strong  confinement.
        p Du coup, tu es devant
            br
            |  ton écran à te demander
            br
            |  ce que tu vas bien
            br
            |  pouvoir faire…
        h3 A bout d’inspiration&nbsp;?
        p.u-text-center Laisse-nous
            br
            |  te présenter
            br
            |  ce qui pourrait
            br
            strong  changer ta vie…
        a(href="#ultraconnect")
            include assets/images/Icon_Arrow.svg
    article.ultraconnect#ultraconnect
            h2 Aujourd’hui, tu es
                strong  ultra connecté·e
            p Tu communiques via
                br
                strong  les réseaux sociaux.
            p Tu navigues sur
                br
                strong  internet.
            p Tu télécharges et utilises
                br
                strong  des applications.
            p Tu planifies
                br
                strong  des rendez-vous.
            h3.u-text-center Et si être connecté·e devenait un atout professionnel&nbsp;?
    article.deviensim.no-padding
        p En
            strong  trois ans
            |  seulement,
            br
            |  deviens un·e pro du digital.
        p
            strong Deviens Ingénieur·e des médias, obtiens ton bachelor HES.
        h2.u-text-center#apprends Apprends à
        section.deviensim_glide

            .glide__track(data-glide-el='track')
                ul.glide__slides
                    li.glide__slide
                        article
                            h2#concevoir_interface(aria-labelledby="apprends concevoir_interface")
                                strong concevoir
                                br
                                strong des interfaces
                            p Rien de pire que d’aller sur un site internet et de ne pas trouver directement l’information que tu cherches, de cliquer sur des liens inexistants ou de ne pas réussir à commander un article car le panier est introuvable. Grâce aux cours sur la conception des interfaces ainsi que sur l’ergonomie d’un site internet, tu apprendras à disposer les éléments et à réfléchir à la place de l’utilisateur.

                    li.glide__slide
                        article
                            h2#creer_contenus(aria-labelledby="apprends creer_contenus")
                                strong créer du
                                br
                                strong contenu digital
                            p En tant que consommateur·trice, nous amassons une forte quantité de contenus par minute. Que ce soit sur les réseaux sociaux, sur une site internet ou sur une application, les publications varient entre elles. Articles, vidéos, photos, animations, podcasts sont des moyens d’expression que tu pratiqueras pendant ta formation et que tu pourras développer durant des projets concrets auprès de clients.
                    li.glide__slide
                        article
                            h2#gerer_projets(aria-labelledby="apprends gerer_projets")
                                strong gérer des
                                br
                                strong projets digitaux
                            p Savoir organiser, planifier et budgétiser un projet numérique sont des compétences essentielles dans le monde digital. Durant la formation, tu seras amené·e à gérer des projets en équipe et ce, pour de vrais clients. Centrée sur des projets pratiques et une approche agile, la formation t’aidera à développer tes capacités opérationnelles et à te confronter au monde professionel.
                    li.glide__slide
                        article
                            h2#coder_decoder(aria-labelledby="apprends coder_decoder")
                                strong programmer
                                br
                                strong pour le web
                            p Que tu sois débutant·e ou avéré·e, laisses-toi découvrir le monde de l’informatique. À travers les différents cours, tu auras en main les atouts techniques nécessaires pour développer des solutions digitales. Tu découvriras l’ensemble des étapes, des activités et des outils à utiliser pour développer un site internet, un site e-commerce ou une application mobile.
                    li.glide__slide
                        article
                            h2#marketing_digital(aria-labelledby="apprends marketing_digital")
                                strong comprendre le
                                br
                                strong marketing digital
                            p Toi qui es si connecté·e avec Instagram, Whatsapp, Facebook, Snapchat,… Ne t’es-tu jamais demandé comment les grandes marques faisaient pour nous attendrir ? Comment font-elles pour que nous soyons autant accros à ces applications ? Tu souhaiterais comprendre les stratégies des marques pour attirer, convertir et fidéliser les clients connectés ?
            .glide__bullets(data-glide-el='controls[nav]')
                button.glide__bullet(data-glide-dir='=0')
                button.glide__bullet(data-glide-dir='=1')
                button.glide__bullet(data-glide-dir='=2')
                button.glide__bullet(data-glide-dir='=3')
                button.glide__bullet(data-glide-dir='=4')
    article.schemaCompetences
        div.twocolumns
            h2 Le Bachelor
                br
                |  en
                strong  Ingénierie des médias
                br
            p  te prépare aux métiers
                br
                |  les plus demandés
                br
                |  dans le monde du digital.
        include assets/images/IngenierieMedias_Schema_Competences.svg
    article.boussole_glide.no-padding(x-data="{ open1Info: false, open1Mark: false, open1Gest: false, open1Cult: false, open2Info: false, open2Mark: false, open2Gest: false, open2Cult: false, open3Info: false, open3Mark: false, open3Gest: false, open3Cult: false }")
        .glide__track(data-glide-el='track')
            ul.glide__slides
                li.glide__slide
                    article.premiereannee.no-padding
                        h2#uneformation(aria-labelledby="uneformation en troisans") Une
                            br
                            |  formation…
                        h3(data-glide-el="controls") 1ère année
                            button(data-glide-dir=">").next_slide
                                img(src="assets/images/Icon_ArrowNext.svg")
                        p Apprends les bases
                            br
                            | de chaque discipline
                        .axes
                            p Alignement des connaissances
                            .axe
                                button(@click="open1Info = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Informatique &amp;
                                    br
                                    |  Interfaces
                            .axe
                                button(@click="open1Mark = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Marketing &amp;
                                    br
                                    |  Communication
                            .axe
                                button(@click="open1Gest = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Gestion de projet &amp;
                                    br
                                    |  Management
                            .axe
                                button(@click="open1Cult = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Culture digitale &amp;
                                    br
                                    |  Projet Intégration
                li.glide__slide
                    article.deuxiemeannee.no-padding
                        h2#en(aria-labelledby="uneformation en troisans")
                            br
                            |  …en…
                        h3(data-glide-el="controls") 2ème année
                            button(data-glide-dir=">").next_slide
                                img(src="assets/images/Icon_ArrowNext.svg")
                        p Approfondir et mettre
                            br
                            |  en lien les connaissances
                        .axes
                            .axe
                                button(@click="open2Info = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Informatique &amp;
                                    br
                                    |  Interfaces
                            .empty(aria-hidden="true")
                            .axe
                                button(@click="open2Mark = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Marketing &amp;
                                    br
                                    |  Communication
                            .empty(aria-hidden="true")
                            .axe
                                button(@click="open2Gest = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Gestion de projet &amp;
                                    br
                                    |  Management
                            .empty(aria-hidden="true")
                            .axe
                                button(@click="open2Cult = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Culture digitale &amp;
                                    br
                                    |  Projet Intégration
                            .empty(aria-hidden="true")
                            p Projet pratique d'intégration 1
                li.glide__slide
                    article.troisiemeannee.no-padding
                        h2#troisans(aria-labelledby="uneformation en troisans")
                            br
                            |  3 an&nbsp!
                        h3 3ème année
                        p Mettre en pratique
                            br
                            |  les compétences
                        .axes
                            .axe
                                button(@click="open3Info = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Informatique &amp;
                                    br
                                    |  Interfaces
                            img.arrow(src="assets/images/Icon_BoussoleTriangle.svg" alt="" role="presentation")
                            .axe
                                button(@click="open3Mark = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Marketing &amp;
                                    br
                                    |  Communication
                            img.arrow(src="assets/images/Icon_BoussoleTriangle.svg" alt="" role="presentation")
                            .axe
                                button(@click="open3Gest = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Gestion de projet &amp;
                                    br
                                    |  Management
                            img.arrow(src="assets/images/Icon_BoussoleTriangle.svg" alt="" role="presentation")
                            .axe
                                button(@click="open3Cult = true")
                                    img(src="assets/images/Icon_Plus.svg" alt="En savoir plus")
                                    | Culture digitale &amp;
                                    br
                                    |  Projet Intégration
                            img.arrow(src="assets/images/Icon_BoussoleTriangle.svg" alt="" role="presentation")
                            p Projet pratique d'intégration 2
                            h4 Travail de Bachelor
        .modal(x-show="open1Info")
            button(@click="open1Info = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 1ère année
                h2 Informatique &amp; interfaces
                ul
                    li Mathématiques
                    li Médias numériques
                    li De la donnée à l’information
                    li Bases de la programmation
                    li Protocoles et environnement Internet
                    li Infrastructure de données
                    li Programmation serveur
        .modal(x-show="open1Mark")
            button(@click="open1Mark = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 1ère année
                h2 Marketing &amp; Communication
                ul
                    li Bases de la communication
                    li Production de contenu média
                    li Data visualization
                    li Écriture pour le digital
                    li Bases du marketing digital
                    li Analyse de marché
        .modal(x-show="open1Gest")
            button(@click="open1Gest = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 1ère année
                h2 Gestion de projet
                ul
                    li Gestion budgétaire et finance
        .modal(x-show="open1Cult")
            button(@click="open1Cult = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 1ère année
                h2 Culture digitale &amp; Projet Intégration
                ul
                    li Media serious game
                    li Alignement des connaissances
                    li Outils et méthodes de travail
                    li Évolution et métiers
                    li Anglais
        .modal(x-show="open2Info")
            button(@click="open2Info = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 2ème année
                h2 Informatique &amp; interfaces
                ul
                    li Architecture et programmation web
                    li Développement front-end
                    li Visualisation de données
                    li Infrastructure de données
                    li Web des données
                    li Développement de produit média
        .modal(x-show="open2Mark")
            button(@click="open2Mark = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 2ème année
                h2 Marketing &amp; Communication
                ul
                    li Techniques audio-visuelles et d’impression
                    li Production de contenu média
                    li Conception UX - Bases
                    li E-commerce
                    li Vendre un projet média
        .modal(x-show="open2Gest")
            button(@click="open2Gest = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 2ème année
                h2 Gestion de projet
                ul
                    li Gestion de projet
                    li Business models
        .modal(x-show="open2Cult")
            button(@click="open2Cult = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 2ème année
                h2 Culture digitale &amp; Projet Intégration
                ul
                    li Sociologie
                    li Droit et Éthique
                    li Méthodologie de recherche
                    li Veille sociétale
                    li Projet d’intégration
        .modal(x-show="open3Info")
            button(@click="open3Info = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 3ème année
                h2 Informatique &amp; interfaces
                ul
                    li Architecture orientée web
                    li Développement mobile
                    li Programmation VR
                    li Marketing Tech
        .modal(x-show="open3Mark")
            button(@click="open3Mark = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 3ème année
                h2 Marketing &amp; Communication
                ul
                    li Laboratoire tests UX
                    li Conception UX - Avancé
                    li Evaluation de produits média
        .modal(x-show="open3Gest")
            button(@click="open3Gest = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 3ème année
                h2 Gestion de projet
                ul
                    li Business plan &amp; startup
                    li Introduction à la systémique
        .modal(x-show="open3Cult")
            button(@click="open3Cult = false")
                img(src="assets/images/Icon_GoBack.svg" alt="" role="presentation")
                |  Retour
            .main
                h3 3ème année
                h2 Culture digitale &amp; Projet Intégration
                ul
                    li Veille technologique
                    li Atelier convergence des médias
                    li Projet d’intégration
                    li Stage et Travail de Bachelor
    article(class="atoutsFormation")
        h2 Une formation
            strong  unique en Suisse
        div.together
            p
                strong 95% des diplômé·e·s
                |  trouvent un emploi dans les trois mois après la formation.
            p La formation de type HES te permet d’apprendre en
                strong  pratiquant
                |  de manière
                strong  professionnelle
                | , et ce durant toute la formation.
        h2 Ah, une
            strong  chose
                br
                |  encore…
        p.u-text-center Peu importe ton parcours,
            br
            |  chaque année les étudiant·e·s
            br
            |  viennent de
            strong  beaucoup d’horizons:
            br
            |  technique, commerce, art, … et le truc cool aussi, c'est que nous sommes
            strong  40% de femmes à suivre la formation.
    article.ecole
        h2 Haute École d’
            strong Ingénierie
            |  et
            br
            |  de
            strong  Gestion
        p Proche du
            strong  lac de Neuchâtel
            |  ainsi que du
            strong  centre-ville
            | , Yverdon t’offre de nombreuses possibilités afin de te retrouver avec tes amis en fin de journée.
            br
            br
            | Toute l’année, profite des
            strong  bars
            | , des
            strong  salles de sport
            | , de la
            strong  plage
            |  et surtout des diverses
            strong  associations.
        p.yverdon
            img(src="assets/images/Icon_MapPin.svg" alt="" role="presentation")
            |  Yverdon-les-Bains
        include assets/images/Carte_Suisse_Yverdon.svg
    article.futurReady.u-text-center.u-vertical-center
        h2
            strong Cher futur,
            br
            | I am ready.
        div.main
            p Inscris-toi :
                br
                a#inscristoi(href="https://heig.ch/im") heig.ch/im
            p Télécharge la brochure (pdf) :
                br
                a#brochuredownload(href="assets/pdf/ingenieriemedias_brochure2020.pdf")
                    img.icondownload(src="assets/images/Icon_Download.svg" alt="Télécharger la brochure")
        ul.reseauxsociaux
            li
                a#facebook(href='https://www.facebook.com/ingenierie.media/' rel='noopener noreferrer' target='_blank')
                    img(alt='Facebook' src="assets/images/Icon_Facebook.svg")
            li
                a#instagram(href='https://www.instagram.com/ingenierie.media/' rel='noopener noreferrer' target='_blank')
                    img(alt='Instagram' src="assets/images/Icon_Instagram.svg" width='25')
            li
                a#youtube(href='https://www.youtube.com/channel/UCqs-odXr4ZkntlXSHJiDfUA/' rel='noopener noreferrer' target='_blank')
                    img(alt='Youtube' src="assets/images/Icon_Youtube.svg")
        p.copyright Copyright © 2020 COMEM+ HEIG-VD.
    script(src="js/main.js")
    include includes/GA.html
