doctype html
html(lang="fr")
  head
    include includes/GTManager_Head.html

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Deviens acteur-trice de la transition numérique
    link(rel="manifest" href="manifest.webmanifest")
    link(rel="stylesheet" href="style/index.scss")
    link(rel="icon" href="assets/images/favicon.svg")
  body
    include includes/GTManager_NoScript.html
    article.cover
        img.logoHeigvd(src="assets/images/Logo_HEIG-VD_Etiquette_RVB_Rouge.svg" alt="Logo HEIG-VD: Haute Ecole d'Ingénierie et de Gestion du Canton de Vaud")
        h1 Deviens acteur·trice de la transition numérique
        p La formation HES
            br
            |
            strong  que tu n’es pas prêt·e d’oublier
    article.coronavirus
        h2 Le coronavirus te force au
            strong  confinement.
        p Du coup, tu es devant
            br
            |  ton écran à te demander
            br
            |  ce que tu vas bien
            br
            |  pouvoir faire...
        h3 A bout d’inspiration&nbsp;?
        p.u-text-center Laisse-nous
            br
            |  te présenter
            br
            |  ce qui pourrait
            br
            strong  changer ta vie...
        a(href="#ultraconnect")
            include assets/images/Icon_Arrow.svg
    article.ultraconnect#ultraconnect
            h2 Aujourd’hui, tu es
                strong  ultra connecté·e
            p Tu communiques via
                br
                strong  les réseaux sociaux.
            p Tu navigues sur
                strong  internet.
            p Tu télécharges et utilises
                br
                strong  des applications.
            p Tu planifies
                strong  des rendez-vous.
            h3.u-text-center Et si être connecté·e devenait un atout professionnel&nbsp;?
    article.slider
        p En
            strong  trois ans
            |  seulement,
            br
            |  deviens un·e pro du digital.
        p
            strong Deviens Ingénieur·e des médias, obtiens ton bachelor HES.
        h2.u-text-center#apprends Apprends
        section.glide

            .glide__track(data-glide-el='track')
                ul.glide__slides
                    li.glide__slide
                        article
                            h2#concevoir_interface(aria-labelledby="apprends concevoir_interface")
                                strong concevoir une interface
                            p Tes apps favorites, les services en ligne qui te facilitent la vie et les jeux vidéos qui te passionnent ont en commun des interfaces simples et efficaces. Apprends à concevoir et à tester l’ergonomie des interactions entre les utilisateurs et le monde numérique.

                    li.glide__slide
                        article
                            h2#creer_contenus(aria-labelledby="apprends creer_contenus")
                                strong à créer des contenus
                            p La création et la gestion de contenus médias sont deux compétences très importantes pour la communication des entreprises. Texte, photo, animation, vidéo, podcast sont autant de moyens d’expression que tu pratiqueras pendant ta formation.
                    li.glide__slide
                        article
                            h2#gerer_projets(aria-labelledby="apprends gerer_projets")
                                strong à gérer des projets
                            p Savoir organiser, planifier et budgéter un projet numérique sont des compétences essentielles dans le monde digital. Centrée sur des projets pratiques et une approche agile, la formation développera tes capacités opérationnelles.
                    li.glide__slide
                        article
                            h2#coder_decoder(aria-labelledby="apprends coder_decoder")
                                strong  à coder et
                                    br
                                    |  à décoder
                            p À travers différents cours d’informatique, tu auras en main tous les atouts techniques nécessaires pour développer des solutions digitales: HTML/CSS, bases de données, JavaScript, technologies serveur et cloud.
                    li.glide__slide
                        article
                            h2#marketing_digital(aria-labelledby="apprends marketing_digital")
                                strong le marketing digital
                            p De la publicité aux réseaux sociaux, des newsletters au marketing automatisé, de la communication classique à l’e-commerce, tu comprendras le stratégies des marques pour attirer, convertir et fidéliser les clients connectés.
            .glide__bullets(data-glide-el='controls[nav]')
                button.glide__bullet(data-glide-dir='=0')
                button.glide__bullet(data-glide-dir='=1')
                button.glide__bullet(data-glide-dir='=2')
                button.glide__bullet(data-glide-dir='=3')
                button.glide__bullet(data-glide-dir='=4')
    article.schemaCompetences
        div.twocolumns
            h2.u-text-center Le Bachelor
                br
                |  en
                strong  Ingénierie des médias
                br
            p.u-text-center  te prépare aux métiers
                br
                |  les plus demandés
                br
                |  dans le monde du digital.
        img(src="assets/images/IngenierieMedias_Schema_Competences.svg")
    article(class="atoutsFormation")
        div.twocolumns
            h2 Une formation
                strong  unique en Suisse
            div.together
                p
                    strong 95% des diplômé·e·s
                    |  trouvent un emploi dans les trois mois après la formation.
                p La formation de type HES te permet d’apprendre en
                    strong  pratiquant
                    |  de manière
                    strong  professionnelle
                    | , et ce durant toute la formation.
        h3 Ah, une
            span  chose
                br
                |  encore
        p.u-text-center Peu importe ton parcours,
            br
            |  chaque année les étudiant·e·s
            br
            |  viennent de
            strong  beaucoup d’horizons:
            br
            |  technique, commerce, art, … et le truc cool aussi, c'est que nous sommes
            strong  40% de femmes
            br
            |  à suivre la formation.
    article.ecole
        h2 Haute Ecole d’
            strong Ingénierie
            |  et
            br
            |  de
            strong  Gestion
        p.yverdon
            img(src="assets/images/Icon_MapPin.svg" alt="" role="presentation")
            |  Yverdon-les-Bains
        include assets/images/Carte_Suisse_Yverdon.svg
        p Proche du lac de Neuchâtel et du centre ville, tu y trouveras de quoi t’occuper en fin de journée.
            br
            | En été, profite de la plage et en hiver des bars du centre ville.
    article.futurReady.u-text-center.u-vertical-center
        h2
            strong Cher futur,
            br
            | I am ready.
        div.main
            p Inscris-toi :
                br
                a#inscristoi(href="https://heig.ch/im") heig.ch/im
            p Télécharge la brochure :
                br
                a#brochuredownload(href="assets/pdf/ingenieriemedias_brochure2020.pdf")
                    img.icondownload(src="assets/images/Icon_Download.svg" alt="Télécharger la brochure")
        ul.reseauxsociaux
            li
                a#facebook(href='https://www.facebook.com/ingenierie.media/' rel='noopener noreferrer' target='_blank')
                    img(alt='Facebook' src="assets/images/Icon_Facebook.svg")
            li
                a#instagram(href='https://www.instagram.com/ingenierie.media/' rel='noopener noreferrer' target='_blank')
                    img(alt='Instagram' src="assets/images/Icon_Instagram.svg" width='25')
            li
                a#youtube(href='https://www.youtube.com/channel/UCqs-odXr4ZkntlXSHJiDfUA/' rel='noopener noreferrer' target='_blank')
                    img(alt='Youtube' src="assets/images/Icon_Youtube.svg")

    script(src="js/main.js")
    include includes/GA.html
